@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Bunya';
    src: url('/fonts/Bunya-Regular_PERSONAL.ttf');
}

@font-face {
    font-family: 'Roulette';
    src: url('/fonts/Roulette.ttf');
}

@font-face {
    font-family: 'Bunya-Bold';
    src: url('/fonts/Bunya-Bold_PERSONAL.ttf');
}

@font-face {
    font-family: 'lemon-bold';
    src: url('/fonts/LEMONMILK--Bold.ttf');
}

@font-face {
    font-family: 'lemon';
    src: url('/fonts/LEMONMILK-Regular.ttf');
}

.bg-e0ccc4 {
    background-color: #e0ccc4;
}

.custom-bg-white {
    background-color: white;
}

.custom-product-container {
    width: 120px;
    height: 40px;
}